@model GetTestimonialByIdDto

@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Customer Testimonial Update Page</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="testimonialId" />
                            <label>Customer Full Name</label>
                            <input type="text" asp-for="nameSurname" class="form-control" />
                            <br />
                            <label>Customer Title</label>
                            <input type="text" asp-for="title" class="form-control" />
                            <br />
                            <label>Customer Comment</label>
                            <input type="text" asp-for="comment" class="form-control" />
                            <br />
                            <label>Customer Image URL</label>
                            <input type="text" asp-for="imageUrl" class="form-control" />
                            <br />
                            <button class="btn btn-success">Update Testimonial</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
