@model CreateProductDto

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Add New Product</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Product Name</label>
                            <input type="text" asp-for="ProductName" class="form-control" />
                            <br />
                            <label>Product Price</label>
                            <input type="text" asp-for="Price" class="form-control" />
                            <br />
                            <label>Product Category</label>
                            <select asp-for="CategoryId" class="form-control" asp-items="(IEnumerable<SelectListItem>)ViewBag.v">
                                <option value="">--- Choose a Category ---</option>
                            </select>
                            <br />
                            <label>Product Image URL</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />
                            <label>Product Description</label>
                            <textarea class="form-control" asp-for="ProductDescription" rows="5"></textarea>
                            <br />
                            <button class="btn btn-primary">New Product</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

