@model CreateMessageDto

@{
    ViewData["Title"] = "CreateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Add New Message Page</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Sender Full Name</label>
                            <input type="text" asp-for="NameSurname" class="form-control" />
                            <br />
                            <label>Sender Email</label>
                            <input type="text" asp-for="Email" class="form-control" />
                            <br />
                            <label>Message Subject</label>
                            <input type="text" asp-for="Subject" class="form-control" />
                            <br />
                            <label>Message Content</label>
                            <input type="text" asp-for="MessageDetails" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Create Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
